@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Titillium+Web:200,300,400');

body {
  text-rendering: optimizeLegibility;
  margin:2px 15px 2px 5px;
}

body, h1, h2, h3, h5, h6m .descr, td, table {
  font-family: 'Titillium Web', sans-serif;
  max-width: 660px;
}

h2, h3, .h3in, h4 {
  font-family: 'Playfair Display', sans-serif;
}

#cite {
font-weight: 200;
font-size: 0.6em;
color: #333333;
text-align:right;
margin-right:5px;
padding-bottom: 9px;
}
#cite a {
text-decoration: none;
color: #307ec3;
}

#footer {
font-weight: 300;
background-color: #f2f2f3;
font-size: 0.75em;
color: #595959;
padding: 6px;
margin-bottom:8px;
}

.descr {
font-size: 1em;
font-weight: 300;
color: #1d1f30;
}

h1 {
 font-size:2em;
}

h2 {
 font-size:1.4em;
 line-height: 125%;
 font-weight: 700;
 margin-bottom: 5px;
 margin-top: 3px;
 color: #242d75;
}

h3 {
 font-size:1.3em;
 color: #1a1a1a;
 font-weight: 700;
}

.h3in {
 position: relative;
 text-align: center;
 font-size: 1.15em;
 color: #1a1a1a;
 font-weight: 700;
 top: 30vw;
 padding: 5px;
 margin-right: 20px;
 margin-left: 62%;
}

h4 {
font-size: 1.2em;
margin-top: 3px;
margin-bottom: 2px;
}

h5 {
 font-size:0.85em;
}

h6 {
 font-size:0.8em;
}

a:visited {
 color: #194266;
}

a, a:visited {
text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

video {
width: 100%    !important;
height: auto   !important;
}